/*login*/
#log_background{
    background-image: url("../img/background.avif");
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background-image: url("../img/bible.avif");
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
    align-items: center;
    margin-top: 150px ;
    margin-left: 750px ;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #6d44b8;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
    background-image: url("../img/360_F_140069969_4hXz9RqqlaIk1ncnuEj2O541hzlAorYj.jpg");
}
.login label{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}   

/*SECTION 1*/
body {
    margin: 0;
}

header {
    background-image: url(../img/Church-supplies.jpg);
    background-size: cover;
    height: 1000px;

}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}


#logo {
    width: 100px;
    height: 100px;
}

.nav_links {
    list-style: none;

}

.nav_links li,
a {
    display: inline-block;
    padding: 0 20px;
    text-decoration: none;
    color: #fff;
    transition: all .3s ease;
}

.nav_links li:hover {
    background-color: red;
    border-radius: 50px 50px 50px 50px;
}

#box {
    width: 100%;
    height: 200px;
    margin-top: 200px;

    display: flex;
    justify-content: end;

}

#box div {
    padding: 20px;
    background-color: #fff;
    margin-right: 300px;
}

#box div
h4 {
    width: 400px;
    color: rgb(0, 0, 0);
    text-align: center;

}



/*SECTION 2*/

#section_2 {
    background-color: #fff;
    background-size: cover;
    height: 700px;
}

#section2-main {
    display: flex;
    flex-direction: row;
}

#button-misyon {
    margin-top: 150px;
    border-radius: 50px;
    font-size: 10px;
    background-color: #192f5e;
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;
}

#button-misyon:hover {
    background-color: #fff;
    color: #192f5e;
}

#title-misyon {
    color: #384b74;
}

.misyon {
    margin-left: 180px;
}

#box2-misyon {
    margin-left: 180px;
    float: left;

}

.description {
    line-height: 2em;
    width: 500px;
    color: #808ea3;
    text-align: justify;
    margin-left: 200px;
}

#video-misyon {
    position: absolute;
    width: 500px;
    height: 300px;
    border: 2px rgb(0, 0, 0);

}

#div-video {
    margin-left: 100px;
    margin-top: -70px;

}

#div-button {
    margin-left: 200px;
}

/*SECTION 3*/

#sec-3 {
    background-image: url(../img/sec3visual.jpg);
    background-size: cover;
    height: 500px;
    /* Adjust the height as needed */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

#section-3-box {
    width: 50%;
    font-size: 25px;
}

#section-3-box div {
    padding: 20px;
    margin-right: 30px;
}

#section-3-box div,
h4 {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    text-align: center;

    width: 400px;
}

/* SECTION 3-NAV */

#section_3-nav {
    background-color: #333;
    overflow: hidden;

    width: 100%;
    height: 100px;
}

.section3-nav {
    list-style-type: none;
}

.section3-nav,
a {
    float: left;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;

    padding: 0 20px;
}

.section3-navlinks {
    text-align: center;
    margin-left: 170px;
    margin-top: 40px;
}

#search-bar {
    font-size: 17px;
    border: 1px solid grey;
    background: #f1f1f1;
    position: relative;
    cursor: text;
    border-radius: 10px;

    margin-top: -10px;
    float: right;
    width: 350px;
    right: 200px;
    padding: 10px;
}

#search-button {
    background-color: rgb(0, 0, 139);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 15px;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;

    position: absolute;
    right: 200px;
    height: 35px;
    margin-top: -6px;
    margin-right: 5px;
}