/*login*/
#log_background {
    background-image: url("../img/background.avif");
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    width: 350px;
    height: 700px;
    background: red;
    overflow: hidden;
    background-image: url("../img/bible.avif");
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    align-items: center;
    margin-top: 150px;
    margin-left: 750px;
}

#chk {
    display: none;
}

.signup {
    position: relative;
    width: 100%;
    height: 100%;
    transition: .5s;
}
label {
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

input {
    width: 30%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 7px;
    border: none;
    outline: none;
    border-radius: 5px;
}

#signup-button,
#loginButton {
    width: 30%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

#singup-button:hover,
#loginButton:hover {
    background: #6d44b8;
}

.login {
    height: 500px;
    overflow: hidden;
    background: #eee;
    border-radius: 30% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
    background-image: url("../img/360_F_140069969_4hXz9RqqlaIk1ncnuEj2O541hzlAorYj.jpg");
}

.login label {
    color: #573b8a;
    transform: scale(.6);
}

#chk:checked~.login {
    transform: translateY(-500px);
}

#chk:checked~.login label {
    transform: scale(1);
}

#chk:checked~.signup label {
    transform: scale(.6);
}
@media only screen and (max-width: 1440px){
    .main{
        margin-left: 550px;
        margin-top: 100px;
    }
}
@media only screen and (max-width: 1024px){
    .main{
        margin-left: 350px;
        margin-top: 100px;
    }
    #log_background{
        height: 900px;
    }
}
@media only screen and (max-width: 768px){
    .main{
        margin-left: 200px;
    }
}
@media only screen and (max-width: 425px){
    .main{
        margin-left: 30px;
    }
}
@media only screen and (max-width: 320px){
    .main{
        margin-left: -10px;
    }
}